.sticky-wrapper {
    float: left;
}
.page-header {
    margin-top: 0;
}
.navbar ul ul {
    display: none;
}
.navbar .active>ul {
    display: block;
}
.navbar li ul {
    padding-left: 15px;
}
.navbar li ul li {
    list-style: none;
}
.navbar a {
    white-space: nowrap;
}
li.active>a {
    border-left: solid 1px;
}
.active > a{
    background-color: #eee;
}
.nav>li>a {
    padding: 1px 12px;
    margin-bottom: 6px;
}
.rule-item {
    border-bottom: solid 1px #eff0f1;
    padding: 1em 0;
}
.rule-item p {
    margin: .5em 0;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1.5em;
    text-decoration: none;
    color: #000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration: none;
}
@media (max-width: 1024px) {
    .sticky-wrapper {
        float: none;
    }
    .sidebar {
        background-color: #278183;
        border-bottom: solid 1px;
        top: 0!important;
    }
    .sidebar,
    .sidebar a {
        color: #fff;
    }
    .sidebar li {
        display: inline-block;
    }
}