@import "lib/_base.less";
.biz{
  .color-blue{
    color:cornflowerblue;
  }
  background-color:#eee;
  .dashboard{
    min-height:100px;
  }
  .chunk{
    display:inline-block;
    height:100%;
    .chunk-header{
      width:100%;
      color:cornflowerblue;
    }
    .chunk-content{
      width:100%;
    }
  }
  .wrap-text-color{
    .dashboard{
      .flexlayout(flex, row, stretch, space-around);
      height:210px;
    }
    .chunk-content{
      .chunk-row{
        height:40px;
        line-height:40px;
        .item{
          .flexlayout(inline-flex, row, center, flex-start);
          width:115px;
          line-height:initial;
          i[class*="icon-"]{
            font-size:18px;
          }
        }
      }
    }
  }
  .wrap-basic-component{
    .dashboard{
      min-height:200px;
      pre{
        margin-top:20px;
        margin-bottom:0px;
        min-height:80px;
      }
      &.chk-radio-wrap{
        .chunk{
          height:100px;
        }
      }
      &.dropdown-list-wrap {
        .chunk {
          width: 300px;
        }
      }
      .m-case{
        .flexlayout(flex, row, stretch, space-around);
      }
      .m-code{
        display:none; //TODO
        width:99%;
        margin:0 auto;
        margin-top:10px;
        height:200px;
        border-style:inset;
        border-width:2px;
        border-color:#ccc;
        background:#f3f5f6;
        header{
          padding-left:10px;
          background-color:#fff;
          box-shadow:0 0 5px rgba(57, 70, 78, 0.2);
        }
        .list-items{
          height:50px;
          line-height:50px;
          .item{
            display:inline-block;
            width:50px;
            text-align:center;
          }
        }
      }
    }
    .chunk{
      height:187px;
    }
    .chunk-content{
      .flexlayout(inline-flex, column, flex-start, space-between);
      .chunk-row{
        margin-top:30px;
        text-align:center;
        .item{
          width:215px;
          line-height:initial;
        }
      }
    }
  }
}