@import "lib/_base.less";
.core{
  font-family:"Microsoft YaHei", Arial, sans-serif;
  font-size:14px;
  color:@fontColor;
  @import "lib/normalizeBootstrap.less";
  .color-blue {
    //蓝色字体
    color: @fontColorBlue;
  }
  h1.h1{ //一级标题
    font-size:18px;
    font-weight:bold;
    color:@fontColor;
  }
  h2.h2{ //二级标题
    font-size:16px;
    font-weight:bold;
    color:@fontColor;
  }
  .align-middle{ //元素垂直居中
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
  .align-center{ //元素水平居中
    position:relative;
    left:50%;
    transform:translateX(-50%);
  }
  .comments-text{ //注释文本样式
    font-size:12px;
    color:@commentsTextColor;
  }
  .warning-text{ //警告文本样式
    font-size:12px;
    color:@warningTextColor;
  }
  .error-text{ //错误文本样式
    font-size:12px;
    color:@errorTextColor;
  }
  .succ-text{ //成功文本样式
    font-size:12px;
    color:@succTextColor;
  }
  .dashboard{
    display:block;
    width:100%;
    height:100%;
    box-shadow:0 0 2px 2px #eee;
    background-color:#fff;
  }
  .btn{ //按钮
    @btnNormalMinWidth:110px; //按钮最小宽度
    @btnNormalHeight:40px; //按钮高度
    @borderRadius:30px; //圆角效果
    &.btn-default{
      @btnColorWhite:#fff; //按钮字体颜色
      @btnColorBlue:#39baea; //按钮字体颜色
      @bgNormalColor:#8896b4; //按钮正常状态
      @bgHoverColor:#39bbea; //按钮Hover状态
      @bgActiveColor:#30aedc; //按钮Active状态
      @bgDisabledColor:#dcdee3; //按钮Disabled状态
      display:inline-block;
      min-width:@btnNormalMinWidth;
      height:@btnNormalHeight;
      color:@btnColorWhite;
      border:1px solid transparent;
      background-color:@bgNormalColor;
      &:hover{
        background-color:@bgHoverColor;
      }
      &:focus{
        outline:none;
      }
      &:active{
        box-shadow:none;
        background-color:@bgActiveColor;
      }
      &.disabled,
      &[disabled]{
        background-color:@bgDisabledColor;
      }
      &.btn-circled{ //圆角按钮
        border-radius:@borderRadius;
      }
      &.btn-icon{
        @btnIconSize:30px;
        padding:0px;
        height:@btnIconSize;
        width:@btnIconSize;
        min-width:@btnIconSize;
        i[class*="icon-"]{
          position:relative;
          top:-1px;
          font-size:20px;
        }
      }
    }
    &.btn-empty{
      @btnNormalColor:#7583a3; //按钮字体颜色
      @btnActiveColor:#39baea; //按钮字体Active状态
      @btnDisabledColor:#bcc3d3; //按钮字体Disabled状态
      @bgNormalColor:#fff; //按钮正常状态
      @bgHoverColor:#fff; //按钮Hover状态
      @bgActiveColor:#edfbff; //按钮Active状态
      @bgDisabledColor:#fff; //按钮Disabled状态
      @btnNormalBorder:1px solid #8795b3; //按钮border样式
      @btnHoverBorder:1px solid #39bbea; //按钮border Hover状态
      @btnActiveBorder:1px solid #38bce8; //按钮border Active状态
      @btnDisabledBorder:1px solid #dae0e9; //按钮border Disabled状态
      display:inline-block;
      min-width:@btnNormalMinWidth;
      height:@btnNormalHeight;
      color:@btnNormalColor;
      border:@btnNormalBorder;
      background-color:@bgNormalColor;
      &:hover{
        color:@btnActiveColor;
        background-color:@bgHoverColor;
        border:@btnHoverBorder;
      }
      &:focus{
        outline:none;
      }
      &:active{
        box-shadow:none;
        background-color:@bgActiveColor;
        border:@btnActiveBorder;
      }
      &.disabled,
      &[disabled]{
        color:@btnDisabledColor;
        background-color:@bgDisabledColor;
        border:@btnDisabledBorder;
      }
      &.btn-circled{ //圆角按钮
        border-radius:@borderRadius;
      }
    }
  }
  .btn.loading-btn{ //带加载效果的按钮
    @padding:36px; //按钮的左右两个内边距距离
    @spinnerSize:32px; //spinner容器的宽高
    .transition() {
      transition:0.3s cubic-bezier(0.175, .885, .32, 1.275) all !important;
    }
    position:relative;
    .transition();
    &[data-loading]{
      padding-left:@padding;
      padding-right:@padding;
      .loading-btn-spinner{
        opacity:1;
        left:14px;
      }
      .loading-btn-label{
        left:10px;
      }
    }
    .loading-btn-label{
      position:relative;
      min-width:35%;
      .transition();
    }
    .loading-btn-spinner{
      position:absolute;
      z-index:2;
      display:inline-block;
      width:@spinnerSize;
      height:@spinnerSize;
      top:50%;
      margin-top:-16px;
      opacity:0;
      pointer-events:none;
      .transition();
    }
  }
  .slide-btn-wrap{ //滑动按钮
    .flexlayout(flex, row, center, space-between);
    min-width:110px;
    &:hover .slide-btn-chk{
      transform:translate3d(0, 0, 0);
    }
    .slide-clickable{
      cursor:pointer;
      color:@commentsTextColor;
    }
    .slide-btn-label{
      @btnWidth:70px; //按钮宽度
      @btnHeight:30px; //按钮高度
      @btnBorderRadius:20px; //圆角
      @btnIconSize:28px; //内圆的大小
      @chkBeforePosLeft:(7/4)*1px; //slide-btn-chk:before背景偏移
      @bgChkBeforeColor:#919191; //slide-btn-chk:before背景颜色
      @chkAfterPosLeft:1px; //slide-btn-chk:after背景偏移
      @chkAfterPosTop:1px; //slide-btn-chk:after背景偏移
      @bgChkAfterColor:#e5e5e5; //slide-btn-chk:after背景颜色
      @bgActiveColor:#3ABAEB;
      @bgNormalColor:#919191;
      @bgDisabledColor:#e5e5e5;
      position:relative;
      display:inline-block;
      box-sizing:border-box;
      width:@btnWidth;
      height:@btnHeight;
      input[type="checkbox"]{
        display:none;
      }
      .slide-btn-chk{
        position:relative;
        margin:0;
        width:100%;
        height:100%;
        box-sizing:border-box;
        border-radius:@btnBorderRadius;
        background-color:@bgNormalColor;
        z-index:0;
        transition:background-color 0.3s ease-in;
        cursor:pointer;
      }
      input[type="checkbox"]:checked + .slide-btn-chk{
        background-color:@bgActiveColor;
      }
      input[type="checkbox"][disabled] + .slide-btn-chk{
        cursor:not-allowed;
        background-color:@bgDisabledColor;
      }
      .slide-btn-chk:before{
        content:' ';
        position:absolute;
        height:@btnHeight;
        left:@chkBeforePosLeft;
        border-radius:@btnBorderRadius;
        transform:scale(1);
        transition:scale 0.2s linear;
      }
      input[type="checkbox"]:checked + .slide-btn-chk:before{
        -webkit-transform:scale(0);
        transform:scale(0);
      }
      .slide-btn-chk:after{
        content:' ';
        position:absolute;
        width:@btnIconSize;
        height:@btnIconSize;
        left:@chkAfterPosLeft;
        top:@chkAfterPosTop;
        border-radius:@btnIconSize;
        background-color:#fff;
        box-shadow:0 0.04rem 0.3467rem rgba(0, 0, 0, 0.4);
        transition:left 0.3s linear;
      }
      input[type="checkbox"]:checked + .slide-btn-chk:after{
        left:@btnWidth - @btnIconSize - 1px;
      }
    }
  }
  .iotips-layer-wrapper{ //消息提示框
    position:fixed;
    top:50%;
    left:50%;
    //width: 100%;
    //height: 100%;
    .iotips-layer-overlay{
      position:absolute;
      width:100%;
      height:100%;
      //background-color: rgba(0,0,0,0.4);
    }
    .iotips-content-wrap{
      .flexlayout(flex, row, center, center, nowrap);
    }
    .iotips-layer{
      position:absolute;
      .flexlayout(flex, column, center, center);
      top:50%;
      left:50%;
      padding:0 20px;
      transform:translateX(-50%) translateY(-50%);
      min-width:480px;
      height:82px;
      text-align:center;
      background-color:rgba(0, 0, 0, 0.6);
      .icon{
        font-size:28px;
      }
      .iotips-content{
        position:relative;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        left:5px;
        font-size:16px;
        color:#f6f6f6;
        max-width:410px;
        max-height:47px;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
  }
  .iot-loading-wrapper{ //蒙层
    position:absolute;
    z-index:20160818;
    &.iot-loading-theme-simple{ //普通加载框
      @dialogHeight:60px; //progress高度
      @dialogWidth:180px; //progress宽度
      @bgProgColor:#FFF; //progress背景色
      width:100%;
      height:100%;
      top:0;
      .iot-loading-overlay{
        position:absolute;
        width:100%;
        height:100%;
        top:0;
      }
      .iot-loading-progress{
        position:relative;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        width:@dialogWidth;
        height:@dialogHeight;
        border-radius:2px;
        border:1px solid #ccc;
        background-color:@bgProgColor;
        z-index:10;
        pointer-events:none;
        text-align:left;
        line-height:60px;
        padding-left:15px;
        transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        .iot-loading-spinner{
          position:relative;
          left:15px;
          top:-5px;
          display:inline-block;
          width:32px;
        }
        .iot-loading-content{
          margin-left:21px;
        }
      }
    }
  }
  .iot-progressbar-wrapper{ //导航进度条
    position:absolute;
    z-index:20160818;
    &.iot-progressbar-theme-navbar{ //导航条样式
      @bgNavbarColor:#30aedc; //导航条背景色
      @navbarHeight:2px; //导航条高度
      //position:fixed;
      top:0;
      width:100%;
      height:@navbarHeight;
      .iot-progressbar-progress{
        position:absolute;
        width:100%;
        height:100%;
        background-color:@bgNavbarColor;
        transition:width 0.4s linear;
      }
    }
  }
  .e-spin-wrap{ //蒙层加载中-内联样式
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }
  .animate-spin{ //旋转动画
    animation:spin 2s infinite linear;
    display:inline-block
  }
  .form{ //表单
    @labelRequiredColor:red; //"必选"样式字体颜色
    @labelMinWidth:80px; //form-label 最新宽度
    @labelMarginRight:10px; //form-label 右边距
    @fcWidth:280px; //form-control 初始宽度
    @fcHeight:40px; //form-control 初始高度
    @fcPadding:6px 8px; //form-control padding内距
    @fcDisabledColor:#afbbd0; //form-control disabled样式字体颜色
    @fcDisabledBgColor:#eff6fb; //form-control disabled样式背景颜色
    @fcFontColor:#666; //form-control 字体颜色
    @fcFocusBorderColor:#8896b4; //form-control focus样式边框颜色
    .form-group{ //clear bootstrap css
      position:relative;
      margin-left:0;
      margin-right:0;
    }
    .form-label{
      display:inline-block;
      text-align:right;
      min-width:@labelMinWidth;
      margin-right:@labelMarginRight;
      &.required:before{
        content:'* ';
        color:@labelRequiredColor;
      }
      & + .form-icheck{
        .iradio_normal,
        .icheckbox_normal{ //clear icheck css
          margin-left:0;
        }
      }
    }
    .form-control{
      display:inline-block;
      width:@fcWidth;
      height:@fcHeight;
      color:@fcFontColor;
      padding:@fcPadding;
      box-shadow:none;
      outline:none;
      &:hover,
      &:focus{
        border-color:@fcFocusBorderColor;
        box-shadow:0 0 7px 0px @fcFocusBorderColor;
      }
      &.disabled,
      &[disabled]{
        color:@fcDisabledColor;
        background-color:@fcDisabledBgColor;
        border:none;
        box-shadow:none;
      }
      &.textarea{
        margin-left:3px;
        height:120px;
        line-height:1.6;
      }
    }
    .form-control-date{ //日期控件
      position:relative;
      display:inline-block;
      & .form-control{
        padding-right:30px;
        max-width:180px;
      }
      & .icon-date{
        position:absolute;
        right:6px;
        top:4px;
        font-size:22px;
        color:#c9ccd6;
        transition:color 0.4s ease-in-out;
      }
      &:hover,
      &:focus,
      &:active{
        .icon-date{
          color:#8895b4;
        }
      }
    }
    &.form-horizontal{ //水平表单
      .form-group{
        &.form-btn-group{
          padding-left:calc(@labelMarginRight + @labelMinWidth);
          .btn:first-child{
            margin-right:17px;
          }
        }
      }
    }
    &.form-inline{ //内联表单
      @fcWidth:180px; //form-control 初始宽度
      @fcRowMarginBottom:22px; //form-control-row 下边距
      @fgMarginRight:80px; //form-group 右边距
      .form-inline-row{
        position:relative;
        display:block;
        margin-bottom:@fcRowMarginBottom;
      }
      .form-group{
        margin-right:@fgMarginRight;
        &.form-btn-group{
          padding-left:calc(@labelMarginRight + @labelMinWidth);
          .btn:first-child{
            margin-right:17px;
          }
        }
      }
      .form-control{
        width:@fcWidth;
      }
    }
  }
  .bootstrap-dialog.light-theme{ //弹出层样式
    @modal_radius:5px;
    @modal_header_height:50px;
    @modal_header_bgcolor:#fff;
    @modal_header_fontSize:18px;
    @modal_header_borderbottom:1px solid #eee;
    @modal_footer_bordertop:none;
    @modal_footer_textalign:center;
    @modal_footer_padding:0 0 40px 0;
    .modal-dialog{
      width:auto;
      min-width:380px;
    }
    .modal-content{
      border-radius:@modal_radius;
      .modal-header{
        padding-left:30px;
        height:@modal_header_height;
        border-top-left-radius:@modal_radius;
        border-top-right-radius:@modal_radius;
        background-color:@modal_header_bgcolor;
        border-bottom:@modal_header_borderbottom;
        .bootstrap-dialog-title{
          font-size:@modal_header_fontSize;
          line-height:@modal_header_fontSize;
          font-weight:bold;
        }
        .bootstrap-dialog-close-button{
          position:relative;
          top:-3px;
          display:block;
          width:38px;
          height:38px;
          border-radius:38px;
          border:1px solid #c7d6dd;
          background-color:#fff;
          &:focus{
            outline:none;
          }
          .btn.close{
            position:relative;
            top:50%;
            right:4px;
            transform:translateY(-50%);
            font-size:36px;
            font-weight:normal;
            &:active,
            &:active:hover{
              box-shadow:none;
            }
          }
        }
      }
      .modal-body{
        padding:15px 35px;
        .confirm-panel{ //确认框
          .flexlayout(flex, column, center, space-around);
          min-height:160px;
          height:160px; //TODO IE11 BUG for "flex-direction:column" and "min-height"
          .confirm-desc{
            display:inline-block;
            max-width:340px;
            font-size:18px;
            line-height:30px;
            word-wrap:break-word;
          }
          .btn-wrap{
            .btn{
              min-width:120px;
              &:last-child{
                margin-left:20px;
              }
            }
          }
        }
      }
      .modal-footer{
        padding:@modal_footer_padding;
        text-align:@modal_footer_textalign;
        border-top:@modal_footer_bordertop;
        .btn{
          min-width:120px;
          &:not(:first-child){
            margin-left:20px;
          }
        }
      }
    }
  }
  .iot-menu-wrapper{ //菜单
    @navbarBgColor:#E71731; //菜单背景色
    @navbarColor:#DFDFDF; //菜单字体颜色
    @navbarHoverColor:#FFF; //菜单 hover状态字体颜色
    @navbarFontSize:16px; //菜单字体大小
    @navbarHeight:80px; //菜单高度
    @listItemMinWidth:120px; //菜单项最小宽度
    @listItemHoverBgColor:#D1020A; //菜单项 hover状态背景颜色
    @listItemAfterElemHeight:4px; //菜单项:after元素 高度
    @listItemAfterElemBgColor:#fff; //菜单项:after元素 背景颜色
    @listItemAfterElemTop:(@navbarHeight - @listItemAfterElemHeight); //菜单项:after元素 上偏移
    position: relative;
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }
    .iot-menu-bg {
      //菜单背景
      position: absolute;
      width: 100%;
      height:285px;
      z-index: 10;
      background-color: rgba(80, 76, 77, 0.8);
    }
    .iot-menu-navbar{ //一级菜单
      position:relative;
      background-color:@navbarBgColor;
      color:@navbarColor;
      font-size:@navbarFontSize;
      height:@navbarHeight;
      line-height:@navbarHeight;
      &:hover{
        .iot-menu-list-item-bg:after{
          opacity:1;
        }
      }
      .iot-menu-list-item-bg{
        position:absolute;
        width:@listItemMinWidth;
        height:@navbarHeight;
        background:@listItemHoverBgColor;
        pointer-events:none;
        transition:all 0.25s linear;
        &:after{
          content:'';
          position:absolute;
          opacity:0;
          left:0;
          top:@listItemAfterElemTop;
          width:100%;
          height:@listItemAfterElemHeight;
          border-radius:@listItemAfterElemHeight;
          background-color:@listItemAfterElemBgColor;
        }
      }
      .iot-menu-list-item{
        float:left;
        min-width:@listItemMinWidth;
        .iot-menu-item{
          position:relative;
          z-index:9;
        }
        &.active,
        &:hover{
          //background-color:@listItemHoverBgColor;
          .iot-menu-item{
            cursor:default;
            color:@navbarHoverColor;
          }
        }
        &[data-menuwidget-clickable]{
          .iot-menu-item{
            cursor:pointer;
          }
        }
      }
    }
    .iot-sub-menu-wrapper{ //子菜单
      @subListItemMinWidth:185px; //子菜单最小宽度
      @subNavbarBgColor: rgba(80, 76, 77, 0.8); //子菜单背景颜色 #504C4D;
      @subNavbarHeight:60px; //子菜单高度
      @subListItemHoverBgColor: rgba(52, 46, 46, .5); //子菜单项hover状态背景颜色 #342E2E
      position: absolute;
      //      background-color:@subNavbarBgColor;
      .iot-sub-menu-navbar {
        position: relative;
        z-index: 11;
      }
      &.inline{ //内联样式
        .iot-sub-menu-navbar{
          height:@subNavbarHeight;
          line-height:@subNavbarHeight;
          color:@navbarColor;
          font-size:@navbarFontSize;
        }
        .iot-sub-menu-list-item{
          float:left;
          min-width:@subListItemMinWidth;
          &.active,
          &:hover{
            background-color:@subListItemHoverBgColor;
            .iot-sub-menu-item{
              cursor:pointer;
              color:@navbarHoverColor;
            }
          }
        }
      }
      &.block {
        .iot-sub-menu-navbar {
          height: 285px; //TODO - js控制
          min-height: @subNavbarHeight;
          line-height: @subNavbarHeight;
          color: @navbarColor;
          font-size: @navbarFontSize;
        }
        .iot-sub-menu-list-item {
          display: inline-block;
          float: left;
          height: 100%;
          min-width: @subListItemMinWidth;
          &.active,
          &:hover {
            background-color: @subListItemHoverBgColor;
          }
          .iot-sub-menu-item {
            .sub-menu-item-header {
              line-height: 55px;
            }
            .iot-sub-menu-item {
              .flexlayout(flex, column, center, center);
              font-size: 14px;
              line-height: 40px;
              &.active,
              &:hover {
                cursor: pointer;
                color: @navbarHoverColor;
              }
            }
          }
        }
      }
    }
  }
  .iot-resizable-wrapper{ //simpleResizable
    position:absolute;
    //border:1px solid red;
    .iot-resizable-icon{
      position:absolute;
      top:0px;
      right:0px;
      width:30%;
      min-height:30px;
      //z-index:2;
      text-align:right;
      //padding: 10px 20px;
      font-size:18px;
      .icon{
        position:relative;
        color:#999;
        &:hover{
          color:#333;
        }
      }
    }
  }
  .tbl-wrap{ //表格
    @primaryFontColor:#666; //datatables 主字体颜色
    @secondaryFontColor:#999; //datatables 次字体颜色
    &.theme-lightgray{ //主题-lightgray
      @dtlWrapperMinHeight:167px; //datatables wrapper最小高度
      @dtlWrapperMgBottom:35px; //datatables wrapper底部外边距
      @pngHeight:45px; //分页高度
      @pngMaxWidth:350px; //分页最大宽度
      @pngFontColor:@primaryFontColor; //分页字体颜色
      @pngBtnPadding:0 5px; //分页按钮内边距
      @pngBtnMaxHeight:30px; //分页按钮最大高度
      @pngBtnHoverFontColor:#4cbeeb !important; //分页按钮hover or active状态字体颜色
      @pngBtnHoverBackground:none; //分页按钮hover or active状态背景样式
      @pngBtnCurrentFontWeight:bold; //分页按钮“当前页”按钮字体风格
      @pngPrevNextSize:30px; //分页按钮“上一页” or “下一页”按钮尺寸
      @pngPrevNextBgImage:url("@{baseUrl}/lib/dataTables/png_arrow.png"); //分页按钮“上一页” or “下一页”背景图片
      @dtlInfoPosRight:130px; //分页显示信息右偏移
      @dtlInfoMgRight:15px; //分页显示信息右外边距
      @dtlInfoPaddingTop:14px; //分页显示信息上内边距
      @tblMargin:20px 0 25px 0; //表格主体外边距
      @tblTHeadBgColor:#f8f9fc; //表格thead背景颜色
      @tblTHeadColor:@secondaryFontColor; //表格thead字体颜色
      @tblTHeadthPadding:12px 10px; //表格thead th内边距
      @tblTHeadthBorderBottom:1px solid #eee; //表格thead th底部边框样式
      @tblTHeadthFontWeight:normal; //表格thead th字体风格样式
      @tblTHeadthFontSize:14px; //表格thead th字体大小
      @tblTBodytdFontSize:14px; //表格tbody td字体大小
      @tblTBodytdPadding:15px 10px; //表格tbody td内边距
      @tblHoverLeftBorderStyle:4px solid #39baea; //表格.hover-left tbody td:first左边框样式
      @tblStripeEvenBgColor:#fff; //表格.stripe tbody td:even背景颜色
      @tblStripeOddBgColor:#f0f4fb; //表格.stripe tbody td:odd背景颜色
      @tblBorderedBorderColor:#eee; //表格.bordered边框颜色

      .dataTables_wrapper{
        text-align:right;
        min-height:@dtlWrapperMinHeight;
        margin-bottom:@dtlWrapperMgBottom;
        .dataTables_paginate{ //分页
          .flexlayout(inline-flex, row, center, space-between);
          padding:0;
          height:@pngHeight;
          max-width:@pngMaxWidth;
          white-space:nowrap;
          color:@pngFontColor;
          .paginate_button{ //分页按钮
            padding:@pngBtnPadding;
            margin:0;
            line-height:normal;
            border:none;
            box-shadow:none;
            max-height:@pngBtnMaxHeight;
            &:active,
            &:hover{ //分页按钮hover状态
              background:none;
              color:@pngBtnHoverFontColor;
              border:none;
              box-shadow:none;
            }
            .png{ //上一页 or 下一页 按钮
              position:relative;
              display:inline-block;
              width:@pngPrevNextSize;
              height:@pngPrevNextSize;
              background-repeat:no-repeat;
              background-image:@pngPrevNextBgImage;
            }
            &.previous{ //上一页按钮
              .png-prev{
                background-position:0 -30px;
              }
              &.disabled .png-prev{
                background-position:-30px -30px;
              }
            }
            &.next{ //下一页按钮
              .png-next{
                background-position:0 0;
              }
              &.disabled .png-next{
                background-position:-30px 0;
              }
            }
            &.current{ //当前页按钮
              &,
              &:hover,
              &:active{
                background:none;
                border:none;
                color:@pngBtnHoverFontColor;
                font-weight:@pngBtnCurrentFontWeight;
              }
            }
          }
          .dataTables_info{ //分页显示信息
            display:inline-block;
            right:@dtlInfoPosRight;
            margin-right:@dtlInfoMgRight;
            padding-top:@dtlInfoPaddingTop;
            color:@primaryFontColor;
            float:none;
          }
          .dataTable{ //表格主体
            &.tbl{
              margin:@tblMargin;
              thead{
                background-color:@tblTHeadBgColor;
                tr th{
                  display:table-cell;
                  padding:@tblTHeadthPadding;
                  border-bottom:@tblTHeadthBorderBottom;
                  text-align:center;
                  font-size:@tblTHeadthFontSize;
                  font-weight:@tblTHeadthFontWeight;
                  color:@tblTHeadColor;
                }
              }
              tbody{
                tr{
                  td{
                    position:relative;
                    display:table-cell;
                    padding:@tblTBodytdPadding;
                    color:@primaryFontColor;
                    font-size:@tblTBodytdFontSize;
                    font-weight:normal;
                    text-align:center;
                    border-bottom:none;
                  }
                }
                //.tbl-btn{
                //  display: block;
                //  padding: 0 20px;
                //  margin: 5px auto;
                //}
                //.tbl-row-group{
                //  .row{
                //    margin-top: 10px;
                //  }
                //}
              }
              a:hover{ //清除a标签样式
                text-decoration:none;
              }
              &.stripe{ //斑马线
                tbody{
                  tr.odd,
                  tr:nth-of-type(odd){
                    background-color:@tblStripeOddBgColor;
                  }
                  tr.even,
                  tr:nth-of-type(even){
                    background-color:@tblStripeEvenBgColor;
                  }
                  tr:hover{
                    td:first-child:not(.dataTables_empty){
                      border-left:4px solid #39baea;
                    }
                  }
                }
              }
              &.noborder,
              &.no-footer{ //不显示边框
                border:none;
              }
              &.hover-left{ //hover样式-左边显示4个像素的边框
                &.stripe{
                  tbody tr:nth-of-type(even){
                    td:first-child{
                      border-left:4px solid @tblStripeEvenBgColor;
                    }
                  }
                }
                thead tr th{
                  &:first-child{
                    border-left:4px solid transparent;
                  }
                }
                tbody{
                  tr:hover td:not(.dataTables_empty):first-child{
                    border-left:@tblHoverLeftBorderStyle;
                  }
                  tr th{
                    &:first-child{
                      border-left:4px solid transparent;
                    }
                  }
                }
              }
              &.bordered{
                &.border-bottom{
                  tr{
                    th{
                      border-bottom:1px solid @tblBorderedBorderColor;
                    }
                    td{
                      border-bottom:1px solid @tblBorderedBorderColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @keyframes spin{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
}