@import "lib/_base.less";
.core{
  font-family:"Microsoft YaHei", Arial, sans-serif;
  font-size:14px;
  color:@fontColor;
  @import "lib/normalizeBootstrap.less";
  h1.h1{ //一级标题
    font-size:18px;
    font-weight:bold;
    color:@fontColor;
  }
  h2.h2{ //二级标题
    font-size:16px;
    font-weight:bold;
    color:@fontColor;
  }
  .comments-text{ //注释文本样式
    font-size:12px;
    color:@commentsTextColor;
  }
  .warning-text{ //警告文本样式
    font-size:12px;
    color:@warningTextColor;
  }
  .error-text{ //错误文本样式
    font-size:12px;
    color:@errorTextColor;
  }
  .succ-text{ //成功文本样式
    font-size:12px;
    color:@succTextColor;
  }
  .dashboard{
    display:block;
    width:100%;
    height:100%;
    box-shadow:0 0 2px 2px #eee;
    background-color:#fff;
  }
  .btn{ //按钮
    @btnNormalMinWidth:110px; //按钮最小宽度
    @btnNormalHeight:40px; //按钮高度
    @borderRadius:30px; //圆角效果
    &.btn-default{
      @btnColorWhite:#fff; //按钮字体颜色
      @btnColorBlue:#39baea; //按钮字体颜色
      @bgNormalColor:#8896b4; //按钮正常状态
      @bgHoverColor:#39bbea; //按钮Hover状态
      @bgActiveColor:#30aedc; //按钮Active状态
      @bgDisabledColor:#dcdee3; //按钮Disabled状态
      display:inline-block;
      min-width:@btnNormalMinWidth;
      height:@btnNormalHeight;
      color:@btnColorWhite;
      border:1px solid transparent;
      background-color:@bgNormalColor;
      &:hover{
        background-color:@bgHoverColor;
      }
      &:focus{
        outline:none;
      }
      &:active{
        box-shadow:none;
        background-color:@bgActiveColor;
      }
      &.disabled,
      &[disabled]{
        background-color:@bgDisabledColor;
      }
      &.btn-circled{ //圆角按钮
        border-radius:@borderRadius;
      }
      &.btn-icon{
        @btnIconSize:30px;
        padding:0px;
        height:@btnIconSize;
        width:@btnIconSize;
        min-width:@btnIconSize;
        i[class*="icon-"]{
          position:relative;
          top:-1px;
          font-size:20px;
        }
      }
    }
    &.btn-empty{
      @btnNormalColor:#7583a3; //按钮字体颜色
      @btnActiveColor:#39baea; //按钮字体Active状态
      @btnDisabledColor:#bcc3d3; //按钮字体Disabled状态
      @bgNormalColor:#fff; //按钮正常状态
      @bgHoverColor:#fff; //按钮Hover状态
      @bgActiveColor:#edfbff; //按钮Active状态
      @bgDisabledColor:#fff; //按钮Disabled状态
      @btnNormalBorder:1px solid #8795b3; //按钮border样式
      @btnHoverBorder:1px solid #39bbea; //按钮border Hover状态
      @btnActiveBorder:1px solid #38bce8; //按钮border Active状态
      @btnDisabledBorder:1px solid #dae0e9; //按钮border Disabled状态
      display:inline-block;
      min-width:@btnNormalMinWidth;
      height:@btnNormalHeight;
      color:@btnNormalColor;
      border:@btnNormalBorder;
      background-color:@bgNormalColor;
      &:hover{
        color:@btnActiveColor;
        background-color:@bgHoverColor;
        border:@btnHoverBorder;
      }
      &:focus{
        outline:none;
      }
      &:active{
        box-shadow:none;
        background-color:@bgActiveColor;
        border:@btnActiveBorder;
      }
      &.disabled,
      &[disabled]{
        color:@btnDisabledColor;
        background-color:@bgDisabledColor;
        border:@btnDisabledBorder;
      }
      &.btn-circled{ //圆角按钮
        border-radius:@borderRadius;
      }
    }
  }
  .slide-btn-wrap{ //滑动按钮
    .flexlayout(flex, row, center, space-between);
    min-width:110px;
    &:hover .slide-btn-chk{
      transform:translate3d(0, 0, 0);
    }
    .slide-clickable{
      cursor:pointer;
      color:@commentsTextColor;
    }
    .slide-btn-label{
      @btnWidth:70px; //按钮宽度
      @btnHeight:30px; //按钮高度
      @btnBorderRadius:20px; //圆角
      @btnIconSize:28px; //内圆的大小
      @chkBeforePosLeft:(7/4)*1px; //slide-btn-chk:before背景偏移
      @bgChkBeforeColor:#919191; //slide-btn-chk:before背景颜色
      @chkAfterPosLeft:1px; //slide-btn-chk:after背景偏移
      @chkAfterPosTop:1px; //slide-btn-chk:after背景偏移
      @bgChkAfterColor:#e5e5e5; //slide-btn-chk:after背景颜色
      @bgActiveColor:#3ABAEB;
      @bgNormalColor:#919191;
      @bgDisabledColor:#e5e5e5;
      position:relative;
      display:inline-block;
      box-sizing:border-box;
      width:@btnWidth;
      height:@btnHeight;
      input[type="checkbox"]{
        display:none;
      }
      .slide-btn-chk{
        position:relative;
        margin:0;
        width:100%;
        height:100%;
        box-sizing:border-box;
        border-radius:@btnBorderRadius;
        background-color:@bgNormalColor;
        z-index:0;
        transition:background-color 0.3s ease-in;
        cursor:pointer;
      }
      input[type="checkbox"]:checked + .slide-btn-chk{
        background-color:@bgActiveColor;
      }
      input[type="checkbox"][disabled] + .slide-btn-chk{
        cursor:not-allowed;
        background-color:@bgDisabledColor;
      }
      .slide-btn-chk:before{
        content:' ';
        position:absolute;
        height:@btnHeight;
        left:@chkBeforePosLeft;
        border-radius:@btnBorderRadius;
        transform:scale(1);
        transition:scale 0.2s linear;
      }
      input[type="checkbox"]:checked + .slide-btn-chk:before{
        -webkit-transform:scale(0);
        transform:scale(0);
      }
      .slide-btn-chk:after{
        content:' ';
        position:absolute;
        width:@btnIconSize;
        height:@btnIconSize;
        left:@chkAfterPosLeft;
        top:@chkAfterPosTop;
        border-radius:@btnIconSize;
        background-color:#fff;
        box-shadow:0 0.04rem 0.3467rem rgba(0, 0, 0, 0.4);
        transition:left 0.3s linear;
      }
      input[type="checkbox"]:checked + .slide-btn-chk:after{
        left:@btnWidth - @btnIconSize - 1px;
      }
    }
  }


}